---
import layout from "../layouts/Base.astro" ;
import {getEvents} from "../js/backend.mjs" ;

/*const events = [
 {
     title: "Conférence sur les astres",
     date: "Lundi 12 Juillet",
     favori: true,
 },
 {
     title: "Atelier sur les étoiles",
     date: "Mardi 13 Juillet",
     favori: false,
 },
];*/

const events = await getEvents() ;
console.log(events) ;
---
<layout>
    <h1>Agenda</h1>
    {events.map((event) => (
        <div>
            <h2>{event.title}</h2>
            <p>{event.date}</p>
            <p>{event.favori ? "Favori" : "Non favori"}</p>
        </div>
    ))}
</layout>