---
import Base from '../layouts/Base.astro';
import Card from '../components/Card.astro';

import { getOffres } from '../js/backend.mjs';
const offres = await getOffres();
---

<Base titre="Offres">
    <h1>Offres</h1>

    
    <div x-data="{ showFavorites: false }" class="offres-container">
       
        <button @click="showFavorites = !showFavorites" class="filter-button">
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

       
        <div x-show="!showFavorites">
            {offres.map((offre) => <Card {...offre} />)}
        </div>

        
        <div x-show="showFavorites">
            {offres.map((offre) => offre.favori &&  <Card {...offre} />)}
        </div>
    </div>
</Base>


