---
import { addOffre } from "../../js/backend.mjs";
import Base from "../../layouts/Base.astro";
let message = '';
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addOffre(formData);
    message = response.message;
}
---
<Base>
    <h1 class="text-lg">Ajouter une offre</h1>
    <form class="flex flex-col p-4" action="/offres/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="nomMaison" placeholder="Nom de la maison" required class="w-full mt-2 p-2 border border-gray-300 rounded-md" />
        <input type="number" name="prix" placeholder="Prix" class="w-full mt-2 p-2 border border-gray-300 rounded-md"/>
        <input type="number" name="nombre_de_salle_de_bain" placeholder="Nombre de salles de bain" class="w-full mt-2 p-2 border border-gray-300 rounded-md"/>
        <input type="number" name="nombre_de_chambre" placeholder="Nombre de chambres" class="w-full mt-2 p-2 border border-gray-300 rounded-md"/>
        <input type="number" name="superficie" placeholder="Superficie" class="w-full mt-2 p-2 border border-gray-300 rounded-md"/>
        <input type="text" name="adresse" placeholder="Adresse" class="w-full mt-2 p-2 border border-gray-300 rounded-md"/>
        <input type="file" name="image"  />
        <button type="submit">Ajouter</button>
    </form>
</Base>
