---
import Base from '../../layouts/Base.astro';
import Card from '../../components/Card.astro';

import { getOffres} from '../../js/backend.mjs';
import { filterByPrix} from '../../js/backend.mjs';
let offres = await getOffres();
console.log("offres :",offres);
let message = '';
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        offres = await filterByPrix(minPrix, maxPrix);
        if (offres.length === 0) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
    }
} else {
    offres = await getOffres();
}

---

<Base titre="Offres">
    <h1>Offres</h1>

    
    <div x-data="{ showFavorites: false }" class="offres-container">
       
        <button @click="showFavorites = !showFavorites" class="filter-button mb-4 px-4 py-2 bg-blue-500 text-white rounded">
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>
        <form action="/offres" method="POST">
            <input type="number" name="minPrix" placeholder="Prix minimum" />
            <input type="number" name="maxPrix" placeholder="Prix maximum" />
            <input type="submit" value="Filtrer par prix" />
        </form>

       
        <div x-show="!showFavorites">
            {offres.map((offre) =><Card {...offre} />)}
        </div>

        
        <div x-show="showFavorites">
            {offres.map((offre) => offre.favoris &&  <Card {...offre} />)}
        </div>
    </div>
    <a href="/offres/add">Ajouter une offre</a>
</Base>


