---
import Base from '../../layouts/Base.astro';
import Card from '../../components/Card.astro';

import { getOffres } from '../../js/backend.mjs';
const offres = await getOffres();
console.log("offres :",offres);

---

<Base titre="Offres">
    <h1>Offres</h1>

    
    <div x-data="{ showFavorites: false }" class="offres-container">
       
        <button @click="showFavorites = !showFavorites" class="filter-button mb-4 px-4 py-2 bg-blue-500 text-white rounded">
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

       
        <div x-show="!showFavorites">
            {offres.map((offre) =><Card {...offre} />)}
        </div>

        
        <div x-show="showFavorites">
            {offres.map((offre) => offre.favoris &&  <Card {...offre} />)}
        </div>
    </div>
</Base>


